<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.full_name %></h1>
    
    <p>
      Your account has been deleted
    </p>
    <p>Thank you for being a part of the site.</p>
  </body>
</html>
